.form-control__input {
  display: flex;
  align-items: center;
  .control {
    flex: 1;
  }
}

.prefix,
.postfix {
  text-transform: initial;
}

.prefix {
  margin-right: 0.8em;
}

.postfix {
  padding-left: 0.8em;
}
